
body {
    font-family: 'helvetica neue';
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}

Header {
    background: #1F2937;
    border: 0;
    margin: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

h1 { 
    font-size: 24px;
    color: #f9faf8;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    width: 75%;
    padding-right: 150px;
    border: 0;
    margin: 0;
}

h4 {
    font-size: 24px;
    color: #f9faf8;
    padding-right: 150px;
    border: 0;
    margin: 0;
}


ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    
}

a {
    font-size: 18px;
    color: #f9faf8;
    text-decoration: none;
}

footer {
    background-color: #1F2937;
    display: block;
    color: #f9faf8;
    font-weight: lighter;
    align-items: center;
    text-align: center;
    padding: 18px;
}


.image {
    background-color: #1F2937;
    display: flex;
    margin: 120px;
    flex-direction: row;
    text-decoration: none;
}

.image div {
    background-color: #1F2937;
    text-align: left;
    margin: 0;
    color: #f9faf8;
}

.container {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}

.container div {
    flex: 1;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container-quote {
    display: block;
    flex-direction: column;
    height: Auto;
    width: 700px;
    padding : 24px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.container-quote div {
    flex: 1 0 auto;
    align-items: center;
}

.container-quotee {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: flex-end;
    justify-items: right;
}

.container-quotee div {
    flex: 1 2 0;
}

.wert  {
    background-color: #f9faf8;
    margin: 0;
    padding: 0;
    flex: 1;
}

.white {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    align-items: center;
    text-align: center;
    padding: 36px;
}


.box-one {
    background-color: #3882f6;
    padding: 10px 22px;
    letter-spacing: 1.5px;
    display: block;
    width: 150px;
    height: 3rem;
    border-radius: 1rem;
    margin: 5px;
    border: 1px solid #3882f6;
}

.box-two {
    border: 3px solid #3882f6;
    border-radius: 1rem;
    height: 150px;
    width: 150px;
    background-color: #f9faf8;
   
}

.box-three {
    background-color: #3882f6;
    letter-spacing: 1.5px;
    display: flex;
    width: auto;
    height: 3rem;
    border-radius: 5px;
    padding: 36px 22px;
    margin: 36px;
    margin-left: 120px;
    margin-right: 120px;
    border: 1px solid #3882f6;

}

.box-four {
    background-color: #3882f6;
    padding: 10px 22px;
    letter-spacing: 1.5px;
    display: block;
    aling text color-interpolation-filters: border: border: ;;
    align-items: center;
    width: 150px;
    height: 3rem;
    border-radius: 1rem;
    margin: 5px;
    border: 1px solid #f9faf8;
    
}
.random {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-right: 120px;
}

.random div {
    flex: 1 1 auto;
    margin: 25px;
}

.random-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    
}
.random-box div {
    margin: 0;
    flex: 1 0 auot;
}

.call {
    background-color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    
}

.call div{
    flex: 2 1 auto;    
}
.container-call {
    align-items: center;
    margin: 0;
    padding-left: 95px;
    display: flex;
    text-align: left;
}

.container-call div {
    
    flex: 1 ;
}

.call-signup {
    display:flex;
    align-items: center;
}

.container-action {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    font-weight: lighter;
}

.container-action div {
    flex: 1;
}
